<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Work Item Created</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <!--[if mso]>
    <style type=”text/css”>
    .body-text {
    font-family: Arial, sans-serif;
    }
    </style>
    <![endif]-->
  </head>
  <body style="margin: 10px; padding: 0; background-color: #f9f9f9; font-family: 'Overpass', sans-serif; font-size: 14px;">
    <div class="content" style="min-height: 300px; width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; border: 2px solid #d7d7d7; border-radius: 4px; background-color: #fff;">
      <div style="width: 100%; display: inline-flex;">
        <img src="openshift_logo_black.png" width="25%" height="auto" />
        <p style="width: 75%; text-align: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <a href="#" style="color: #0088ce; text-decoration: none;">
            {{workItem.attributes['system.number']}} {{workItem.attributes['system.title']}}
          </a>
        </p>
      </div>
      <div style="width: 95%; margin: 10px auto; border: 1px solid #d7d7d7;"></div>
      <p style="font-size: 16px; text-align: left;">
        Work Item {{workItem.attributes['system.number']}} {{workItem.attributes['system.title']}} has been created in {{space?.attributes.name | spaceName}} Space.
      </p>
      <table>
        <tr style="height: 30px;">
          <td class="table-label" style="width: 100px; text-align: left;">
            <b>Creator:</b>
          </td>
          <td class="table-content" style="text-align: left;">
            <a href="#" style="color: #0088ce; text-decoration: none;">
              <img src="{{workItem.relationships.creator.data.attributes?.imageURL + '&s=20'}}" />{{workItem.relationships.creator.data.attributes?.fullName}}
            </a>
          </td>
        </tr>
        <tr style="height: 30px;">
          <td class="table-label" style="width: 100px; text-align: left;">
            <b>Created:</b>
          </td>
          <td class="table-content" style="width: 500px; text-align: left;">
            12 July 2017
          </td>
        </tr>
        <tr style="height: 30px;">
          <td style="width: 100px; text-align: left;">
            <b>Title:</b>
          </td>
          <td class="table-content" style="width: 500px; text-align: left;">
            {{workItem.attributes['system.title']}}
          </td>
        </tr>
        <tr style="height: 30px;">
          <td class="table-label" style="width: 100px; text-align: left;">
            <b>Type:</b>
          </td>
          <td class="table-content" style="width: 500px; text-align: left;">
            {{workItem.relationships?.baseType?.data?.attributes?.name}}
          </td>
        </tr>
        <tr style="height: 30px;">
          <td class="table-label"  style="width: 100px; text-align: left; vertical-align: top;">
            <b>Description:</b>
          </td>
          <td class="table-content" style="width: 500px; text-align: left;">
            {{workItem.attributes['system.description']}}
          </td>
        </tr>
      </table>
      <div style="margin-top: 100px;">
        <span style="width: 50%;">
          <a href="#" style="color: #0088ce; text-decoration: none; float: left;">Open this item</a>
        </span>
        <span style="width: 50%;">
          <a href="#" style="color: #0088ce; text-decoration: none; float: right;">Share this item</a>
        </span>
      </div>
    </div>
  </body>
</html>
