<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Work Item Created</title>
  <style>
    tr td ul li img {
      max-width: 500px;
    }
    tr td pre {
      overflow: auto;
    }
    .description-text p:first-of-type {
      margin-top: 0;
    }
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>

<body style="
        margin: 10px;
        padding: 0;
        background-color: #f9f9f9;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: lighter;
        line-height: 1.2;">
  <div style="
        min-height: 300px;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px #d7d7d7;">
    <div style="
          width: 100%;">
      <img src="{{.webURL}}/_openshiftio/assets/images/openshift_logo_black.png" width="25%" height="45px" />
      <div style="
            width: 95%;
            margin: 10px auto;
            border: 1px solid #d7d7d7;">
      </div>
      <p>
        <img src="{{sizeImage .workitemOwner.Data.Attributes.ImageURL 22}}" style="height: 22px; width: 22px; vertical-align: middle;" />&nbsp;
        <span style="
              margin-top: 5px;">
          <a href="{{.webURL}}/{{.workitemOwner.Data.Attributes.Username}}" style="color: #0088ce; text-decoration: none;">{{.workitemOwner.Data.Attributes.FullName}}</a>&nbsp;
          <span style="font-weight: 700;">created</span> work item
        <span style="
                  max-width: 250px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                  vertical-align: middle;">
            <a href="{{.webURL}}/{{.spaceOwner.Data.Attributes.Username}}/{{.space.Data.Attributes.Name}}/plan/detail/{{.workitem.Data.ID}}"
              style="
                color: #0088ce;
                font-weight: 700;
                text-decoration: none;">
              {{index .workitem.Data.Attributes "system.number"}}
            </a>
          </span>
        <span style="
                  border: 1px solid purple;
                  width: auto;
                  margin-left: 10px;">
            <a href="{{.webURL}}/{{.spaceOwner.Data.Attributes.Username}}/{{.space.Data.Attributes.Name}}"
               style="
                  padding: 5px;
                  font-size: 12px;
                  color: purple;
                  text-decoration: none;">
              {{lower .spaceOwner.Data.Attributes.Username}}/{{lower .space.Data.Attributes.Name}}
            </a>
          </span>
        </span>
      </p>
    </div>
    <div style="
          background-color: #f9f9f9;
          padding: 10px 20px;
          min-height: 150px;
          max-width: 700px;
          text-align: left;">
      <h3 style="margin-bottom: 5px;">
        <a href="{{.webURL}}/{{.spaceOwner.Data.Attributes.Username}}/{{.space.Data.Attributes.Name}}/plan/detail/{{.workitem.Data.ID}}"
          style="
            color: #0088ce;
            font-weight: 700;
            text-decoration: none;">
          {{index .workitem.Data.Attributes "system.title"}}
        </a>
      </h3>
      <p style="
          font-size: 16px;">
        <table>
          <tr style="height: 30px;">
            <td style="width: 100px; text-align: right;">
              <span style="font-weight: 700;">Type</span>
            </td>
            <td style="text-align: left; padding-left: 10px; max-width: 500px;">
              <i class="fa {{.workitemType.Data.Attributes.Icon}}"></i> {{.workitemType.Data.Attributes.Name}}
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 100px; text-align: right;">
              <span style="font-weight: 700;">Created</span>
            </td>
            <td style="text-align: left; padding-left: 10px; max-width: 500px;">
              {{date (index .workitem.Data.Attributes "system.created_at" )}}
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 100px; text-align: right;">
              <span style="font-weight: 700;">Space</span>
            </td>
            <td class="table-content" style="text-align: left; padding-left: 10px; max-width: 500px;">
              {{lower .spaceOwner.Data.Attributes.Username}}/{{lower .space.Data.Attributes.Name}}
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 100px; text-align: right; vertical-align: top; padding-top: 5px;">
              <span style="font-weight: 700;">Description</span>
            </td>
            <td class="description-text" style="text-align: left; vertical-align: top; padding-top: 5px; padding-left: 10px; max-width: 500px;">
              {{raw (index .workitem.Data.Attributes "system.description.rendered")}}
            </td>
          </tr>
        </table>
      </p>
    </div>
    <div style="
            margin-top: 25px;
            margin-bottom: 5px;
            display: inline-flex;">
      <span style="width: 150px;">
        <a href="{{.webURL}}/{{.spaceOwner.Data.Attributes.Username}}/{{.space.Data.Attributes.Name}}/plan/detail/{{.workitem.Data.ID}}"
            style="
              color: #0088ce;
              text-decoration: none;
              font-weight: 500;
              vertical-align: sub;">
              Link to this item</a>
      </span>
      <span style="width: 150px;">
        <a href="{{.webURL}}/{{.spaceOwner.Data.Attributes.Username}}/{{.space.Data.Attributes.Name}}/plan/detail/{{.workitem.Data.ID}}"
            style="
              color: #0088ce;
              text-decoration: none;
              font-weight: 500;
              vertical-align: sub;">
              Comment</a>
      </span>
    </div>
  </div>
</body>

</html>
